.px {
    font-size: 32px;
}

.box {
    font-size: 40px; 
}

.em {
font-size: 2em; 
}

.rem {
    font-size: 2rem; 
}


.wrapper{
    width: 60vw;
    height: 50vh;
    border: 5px solid purple;
}

.width {
    border: 2px solid darkgreen; 
    height: 50px;
}

.hero {
    background-color: purple;
    height: 50vh;
}