:root {--color-dark: #0B0F19;
    --color-primary: #6366F1;
    --color-gray600: #9397AD;
    --color-white: #ffffff;

    --color-gray300: #e2e5f1; 
    --color-gray900: #0b0f19;
    --color-gray700: #565973;
    --color-gray100: #f3f6ff;
    --color-gray500: #b4b7c9;
    --color-green: #22c55e;
    --color-gray800: #33354d;}

    body {
        font-family: "Manrope", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
    
    }

    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    

    a {
        color: var(--color-primary);
        text-decoration: none;
    }

    
    .btn-primary {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 8px;
        padding: 12px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .btn-primary:hover {
        background-color: var(--color-gray600);
        color: var(--color-white);
        text-decoration: none;
    }
    
    .btn-primary i {
        margin-right: 0.5rem;
    }
    
  



.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .btn-toggle-switch .label {
    
    display: none;
} */


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch-input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
   
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray600);
    transition: all 0.2s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50px;
}


.navbar {
    display: none;
    
}

.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
}

.nav-link-1 {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
    margin-left: 2rem;
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}


.nav-link-1:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
    margin-right: 10rem;
}




header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f3f6ff;
}



#logo{
    margin-left: 4rem;
}



@media (min-width: 1000px) {
    .container {
        max-width: 1320px;
        
    }
    
    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
       
    }


    .navbar {
display: block;
}

    #auth-signin {
    display: block;
}

    
    }
    
.container {
    background-color: #f3f6ff;
}

    .contact-us1{
        padding-left: 4rem;
        padding-top: 2rem;
    }
    .Email{
        padding-top: 2rem;
        padding-left: 4rem;
        padding-bottom: 2rem;
        display: flex;
        gap: 2rem;


        p{
            font-size: 16px;
            color: #565973;
        }
       
    }

    .mejlicon{
        display: flex;
        margin-bottom: 2rem;
    }

    .Careers{
        padding-left: 4rem;
        padding-bottom: 4rem;
        display: flex;
        gap: 2rem;

        p{
            font-size: 16px;
            color: #565973;
        }
    }

    .careers-{
        margin-bottom: 2rem;
    }

    .home{
        padding-left:5rem;
        padding-top: 2rem;
        color: var(--color-gray600);
        font-size: 14px;
    }
   
    .home-icon{
        position: absolute;
        padding-left: 3.7rem;
        padding-top: 1.9rem;
    }

    .message{
        font-size: 14px;
        padding-left: 1rem;

    }

    .space-y-1 > * + * {
        margin-top: 1rem;
    }
    .container-1{
        height: 40vh;
        display: grid;
        place-items: end;
        padding-right: 10rem;
    }

    .reg-form{
        background-color: white;
        padding: 1rem;
        border-radius: .5rem;
        min-width: 500px;
        position: relative;
        top: -350px;
        padding-bottom: 20rem;
    }
 
    .form-label{
        display: block;
        margin-bottom: .5rem;

    }

    .form-input{
        font: inherit;
        width: 97%;
        font-size: 1rem;
        padding: .4em;
        border-radius: .5em;
        border: 1px solid #c3c3c3;
        margin-bottom: 1rem;
    }
    .btn{
        padding: .4em 2em;
        font-size: 1rem;
        border: 1px solid transparent;
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: .5em;
        cursor: pointer;
        text-decoration: none;
        font-size: 600;
        width: 100%;
        position: relative;
        top: 215px;
    }

