* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    max-width: 400px;
    margin: 0 auto;

}


.long::first-letter {
    font-weight: 900;
    initial-letter: 3;

}

.long::first-line {
    color: purple;
}

.long::selection {
    background-color: blue;
    color: white;
}

.content::before {
    content: "före ";
    color: red;
}

.content::after {
    content: " efter";
    color: red;
}


